{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} modification du type {{ type.libelle }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid text-left">
        <div class="container">
            <h1>Gestion des types</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="card-title mb-5"><h4 class="h4">Liste des types</h4></div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for type in types %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ type.libelle }}</td>
                                    <td>
                                        <a href="{{ path('type_show', {'id': type.id}) }}"><i class="fa fa-eye"></i></a> |
                                        <a href="{{ path('type_edit', {'id': type.id}) }}"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucune type enregistré</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="card-title mb-5">
                            <h4 class="h4">Modification</h4>
                        </div>
                        {{ include('type/_form.html.twig', {'button_label': 'Modifier'}) }}
                    </div>
                    {{ include('type/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


