{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Liste des opérations {% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col-md-10">
                <form action="{{ path('search_operation', {'type': type}) }}">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <select name="officine" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option value="">Selectionnez...</option>
                                {% for officine in officines %}
                                    <option value="{{ officine.id }}">{{ officine.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select name="mode" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option value="">Mode...</option>
                                {% for mode in modes %}
                                    <option value="{{ mode.id}}">{{mode.libelle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="date_debut" class="form-control form-control-sm" required>
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="date_fin" class="form-control form-control-sm" required>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-sm">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col text-right">Total {{ type|title }} : <span class="h5 text-danger">{{ type_montant|number_format(0,'','.')}}</span> FCFA</div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="h6 float-left">{{type|upper}}S</h6>
                        <span class="float-right">
                            <form action="{{ path('etat_operation',{'type':type}) }}" method="post" target="_blank">
                                <input type="hidden" name="officine" value="{{ officine }}">
                                <input type="hidden" name="date_debut" value="{{ date_debut }}">
                                <input type="hidden" name="date_fin" value="{{ date_fin }}">
                                <input type="hidden" name="mode" value="{{ mode }}">
                                <button type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-print"></i> Imprimer</button>
                            </form>

                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Dates</th>
                                <th scope="col">Officines</th>
                                <th scope="col">Modes</th>
                                <th scope="col">Montants</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for operation in operations|slice(0,50) %}
                                <tr>
                                    <th scope="row">{{operation.date|date('d-m-Y')}}</th>
                                    <td>
                                        <a href="{{ path('operation_edit', {'id': operation.id}) }}">{{operation.officine.nom}}</a>

                                    </td>
                                    <td>
                                        {% if operation.mode.libelle == 'Espece' %}
                                            <span class="badge badge-success">Espèce</span>
                                        {% else %}
                                            <span class="badge badge-info">{{ operation.assurance }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ operation.montant|number_format(0,'','.')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
