<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cana Optic :: {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('ressources/css/bootstrap.min.css')) }}">
            <link rel="stylesheet" href="{{ absolute_url(asset('ressources/vendor/font-awesome/css/font-awesome.css')) }}">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('homepage') }}">Groupe Cana</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if current_menu is defined and current_menu =='accueil' %}active{% endif %}">
                        <a class="nav-link" href="#">Journal</a>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu =='entree' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Entrées
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{ render(url('app_default_menu')) }}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu =='depense' %}active{% endif %}" href="#">Depenses</a>
                    </li>
                    <li class="nav-item {% if current_menu is defined and current_menu =='commande' %}active{% endif %}">
                        <a class="nav-link" href="#">Commandes</a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}

                        <li class="nav-item dropdown {% if current_menu is defined and current_menu =='parametre' %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"></i> Paramètres
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('fournisseur_index') }}">Fournisseur</a>
                                <a class="dropdown-item" href="{{ path('officine_index') }}">Officine</a>
                                <a class="dropdown-item" href="{{ path('type_index') }}">Type</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('app_logout') }}" class="nav-link" style="color:#ffffff">Deconnexion</a>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ absolute_url(asset('ressources/js/jquery-3.4.1.min.js')) }}"></script>
            <script src="{{ absolute_url(asset('ressources/js/popper.min.js')) }}"></script>
            <script src="{{ absolute_url(asset('ressources/js/bootstrap.min.js')) }}"></script>
        {% endblock %}
    </body>
</html>
